.container {
    margin-bottom: 100px;
}

.orange-color {
    background-color: #FEEAE9;
    border-radius: 10px;
}

.carousel-item {
    padding: 20px 40px;
}

.price {
    color: #ff136f;
}

.buy-now-btn {
    background-image: linear-gradient(to bottom, #ff589b 0%, #ff136f 100%);
    color: #fff;
    border: none;
    border-radius: 8px;
    padding: 9px 25px;
    cursor: pointer;
}

.cat1,
.cat2,
.cat3 {
    padding: 10px 30px;
    border-radius: 10px;
}

.cat1 {
    background-color: rgb(255, 145, 0);
}

.cat2 {
    background-color: #ff136f;
}

.cat3 {
    background-color: rgb(0, 225, 255);
}

.catagories h1 {
    color: #fff;
}

.catagories img {
    width: 95px;
}

.card {
    border: none;
    border-radius: 10px;
    box-shadow: 5px 5px 10px lightgray;
}

.card-footer {
    background-color: #fff;
    border-top: none;
}

.justispace {
    margin: 5px 15px;
}

#contact {
    height: 300px;
}

#contact h6 {
    color: gray;
}

footer {
    text-align: center;
}